# Core dependencies
numpy
h5py
# Add other core dependencies here

# Optional dependencies
# CPU-only JAX
jax[cpu]
# GPU (CUDA 12) JAX
jax[cuda12]
# TPU JAX
jax[tpu] -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
